.display-3{
    font-family: 'Poppins';
}
.home {
    font-weight: 900;
    font-size: 4.0em;
    color: darkblue;
}
.school {
    font-weight: 900;
    font-size: 4.0em;
    color: darkblue;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
    margin-right: auto;
    margin-left: auto;
}
p{
    color: grey;
}
.lead{
    font-family: 'math';
    font-size: 21px;
    margin: 0 auto;
    max-width: 96%;
    
}
.show{
    color: lightgrey;
    font-family: 'san-serif';
    font-size: 13px;
}
.list{
    margin: 0 auto;
    max-width: 96%;
    justify-content: space-between;
}


span{
    font-size: 16px;
}
.display-3{
    color: steelblue;
}
@media(max-width:576px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .display-3{
        color: steelblue;
        font-size: 38px;
    }
    .mr-5, .mx-5 {
        margin-right: 1rem!important;
    }
    

    .home {
        font-size: 2.5em;
        text-align: center;
        color: darkblue;
    }
    .geo{
        padding: 0 1px;
        display:flex ;
    }
    .sango{
        font-size: 10px;
        max-width: 100%;
    display: flex;
    white-space: nowrap;
    }
    
    .school {
        font-size: 2.5em;
        text-align: center;
        color: darkblue;
    }
    .lead{
        font-family: sans-serif;
    font-size: 14px;
    line-height: 22px;
    margin-left: 9px;
    color: #666262;
    }
    .show{
        font-family: 'Poppins';
    width: 168%;
    margin-left: -10px;
    font-size: 11px;
    font-weight: bold;
    }
    .list {
        display: flex;
        margin-left: 1px;
        font-size: 16px;
        flex-direction: column;
        text-align: center;
    }
  .list .list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 18px;
    border-radius: .25rem;
    background-color: #404041;
    color: white;
}
 footer .list-group {
      font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: -6px;
    margin-bottom: 31px;
    /* border-radius: 2.25rem; */
    text-align: center;
    max-width: 95%;
    margin: 23px auto;
}
footer ul{
    background-color: white;
}
span{
    font-size: 9px;
}
.new{
    text-align: center;
}

}
